*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 480px){
    html{
        font-size: 14px;
    }
    .container{
        width: 100vw;
        background-color: #ffffff;
    }
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 1.78rem;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        row-gap: 0.39rem;
        margin-left: 1.28rem;
    }
    .hamburger div{
        background-color: #000000;
        height: 1px;
        width: 1.4rem;
    }
    .logo h3{
        font-size: 24px;
        font-weight: 700;
        line-height: 52px;
        width: 85px;
        font-style: normal;
        color: #292929;
    }
    .menu{
        display: none;
    }
    .icons{
        margin-right: 1.35rem;
    }


    .directory{
        font-size: 18px;
        font-weight: 500;
        color: #BCB7B7;
        line-height: 51.5px;
        margin-left: 0.57rem;
    }
    .directory span{
        color: #292929;
    }
    .product-container{
        margin-top: 2.14rem;
    }

    img{
        margin-left: 2rem;
        margin-right: 2.07rem;
        
        
    }
    .name-and-price{
        display: flex;
        justify-content: space-between;
        margin-top: 0.71rem;
        font-size: 16px;
        font-weight: 500;
        line-height: 25.22px;
    }
    .name{
        margin-left: 2rem;
    }
    .price{
        margin-right: 2.07rem;
    }
}